.loadspinner {
    position: absolute;
    z-index: 1;
    margin-top: 200px;
  }


  .error{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
  }

  .borderline {
    border-left: 2px;
    border-style: solid;
  }

  .detailsText {
    font-weight: 600;
  }

  .repoTitle{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .repoTime {
    font-size: 15px;
  }


  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    .keyValue {
      font-size: 10px;
    }

    .repoTitle{
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .repoTime {
      font-size: 8px;
    }

    .detailsText {
      font-weight: 600;
      font-size: 8px;
    }

    .bt{
      width: 100%;
    }

  
  }